<p style="color: green"><%= notice %></p>

<h1>Campains</h1>

<div id="campains" class="container">
  <h1 class="my-4">Campaigns</h1>
  <div class="row">
    <% @campains.each do |campain| %>
      <div class="col-md-4 mb-4" id="<%= dom_id campain %>">
        <%= render campain %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "New campain", new_campain_path %>

  
